$p-red: hsl(1, 90%, 64%);
$p-blue: hsl(219, 85%, 26%);

$n-white: hsl(0, 0%, 100%);
$n-very-light-grayish-blue: hsl(210, 60%, 98%);
$n-light-grayish-blue-1: hsl(211, 68%, 94%);
$n-light-grayish-blue-2: hsl(205, 33%, 90%);
$n-grayish-blue: hsl(219, 14%, 63%);
$n-dark-grayish-blue: hsl(219, 12%, 42%);
$n-very-dark-blue: hsl(224, 21%, 14%);

$default-background-color: $n-very-light-grayish-blue;
$default-font-color: $n-very-dark-blue;
